body{
 min-height:100vh;
 background:#0f172a;
 color:white;
 display:flex; 
}

.dashboard{
 flex:1;
 margin-left:260px;
 overflow: auto;
 position: relative;
 padding:30px;
}
.sidebar{
 width:260px;
 height:100vh;
 background:#111827;
 
 position:fixed;
 top:0;
 left:0;
 padding:25px;
}

.logo{
 margin-bottom:40px;
}

.logo h2{
 colour:#38bdf8;
 font-size:2rem;
 font-weight:700;
}






